<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" {% if request.locale.iso_code == 'he' %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% render 'seo-meta' %}
    {% render 'schema-book' %}

    {{ 'theme-books.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body class="gradient">
    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% render 'cart-drawer' %}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'ai-assistant.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
